.App {
  text-align: center;
}

.trainCollection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  margin-top: 2vw;
}

.none {
  color: white;
  background-color: black;

  width: 20vw;
  height: 10vw;
  margin: .5vw;
}

.RD {
  color: white;
  background-color: red;

  width: 20vw;
  height: 10vw;
  margin: .5vw;
}

.BL {
  color: white;
  background-color: blue;

  width: 20vw;
  height: 10vw;
  margin: .5vw;
}

.GR {
  color: white;
  background-color: green;

  width: 20vw;
  height: 10vw;
  margin: .5vw;
}

.OR {
  color: white;
  background-color: orange;

  width: 20vw;
  height: 10vw;
  margin: .5vw;
}

.SV {
  color: white;
  background-color: silver;

  width: 20vw;
  height: 10vw;
  margin: .5vw;
}

.YL {
  color: white;
  background-color: rgb(220, 220, 1);

  width: 20vw;
  height: 10vw;
  margin: .5vw;
}

p {
  font-weight: bold;
}